

.cg-row {
    border-bottom: 1px solid #eee;
    height: 60px;
    position: relative;
}

.cg-event {
    position: absolute;
    background-color: $primaryColor;
    width: 100%;
    border-radius: 4px;
    color: #fff;
    padding: 0 10px;
    font-size: 0.8em;    
    border: 1px solid darken($primaryColor, 35%);
    z-index: 5;
    overflow: hidden;
    
    &:hover {
        background-color: $highlightColor;
        color: #333;
        border-color: darken($highlightColor, 30%);
    }

    &__container {
        position: relative;
        width: 70%;
        z-index:1;
    }    
}

.cg-time {
    background-color: #565656; 
    color: #fff;
    font-weight: bold;
    text-align: center;    
}

.cg-header {
    background-color: lighten(#565656, 60%);
    height: 60px;
    align-items: center;
}

.columns { margin: 0;}
.columns:not(:last-child) { margin-bottom: 0; } 
.column { padding: 0;}