.product {
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px; 
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;

    &__type {
        display: inline-block;
        vertical-align: middle;
        font-size:0;
    }

    &__title {
        font-size: 18px;
        font-weight: bold;
        display: inline-block;
        vertical-align: middle;
        margin-left: 15px;
    }

    &__price {

        &--from {
            font-size: 14px;
            text-decoration: line-through;    
        }
    }
    
    &__button {
        background-color: $highlightColor;
        color: #333;
        border: 1px solid #333;
        border-radius: 3px;
        display: block;
        width: 60%;
        padding: 10px 20px; 
        margin: 10px auto 0; 
        font-size: 16px;
        text-transform: uppercase;       
    }
}

.channel-list {
    height: 40px;
    
    img {
        width: 80px;
    }
}