* {
  font-family: 'Roboto';
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 0;
  min-width: 0; }

.cg-row {
  border-bottom: 1px solid #eee;
  height: 60px;
  position: relative; }

.cg-event {
  position: absolute;
  background-color: #00a3eb;
  width: 100%;
  border-radius: 4px;
  color: #fff;
  padding: 0 10px;
  font-size: 0.8em;
  border: 1px solid #002739;
  z-index: 5;
  overflow: hidden; }

.cg-event:hover {
  background-color: #fbd710;
  color: #333;
  border-color: #705f02; }

.cg-event__container {
  position: relative;
  width: 70%;
  z-index: 1; }

.cg-time {
  background-color: #565656;
  color: #fff;
  font-weight: bold;
  text-align: center; }

.cg-header {
  background-color: #efefef;
  height: 60px;
  align-items: center; }

.columns {
  margin: 0; }

.columns:not(:last-child) {
  margin-bottom: 0; }

.column {
  padding: 0; }

.product {
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px; }

.product__type {
  display: inline-block;
  vertical-align: middle;
  font-size: 0; }

.product__title {
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px; }

.product__price--from {
  font-size: 14px;
  text-decoration: line-through; }

.product__button {
  background-color: #fbd710;
  color: #333;
  border: 1px solid #333;
  border-radius: 3px;
  display: block;
  width: 60%;
  padding: 10px 20px;
  margin: 10px auto 0;
  font-size: 16px;
  text-transform: uppercase; }

.channel-list {
  height: 40px; }

.channel-list img {
  width: 80px; }

.page__title {
  font-size: 26px;
  text-align: center; }
