// UTILS
@import './utils/vars';
@import './utils/pxToRem';
@import './utils/reset';

// COMPONENTS
@import './components/ChannelGrid.scss';
@import './components/ProductItem.scss';

.page__title {
    font-size: 26px;
    text-align: center;
}